.view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #43A047;
    width: 100%;
    align-items: center;
}

.leaderboard {
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}

.leaderboard > div {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.leaderboard .time {
    color: rgba(255,255,255,.3);
}

.leaderboard > div.leader {
    font-size: 1.45em;
}

.leaderboard > div.leader .member-rank  {
    color: rgba(77, 245, 65,.7);
}

.leaderboard > div.second {
    font-size: 1.3em;
}

.leaderboard > div.second .member-rank  {
    color: rgba(65, 212, 245, 0.5);
}

.leaderboard > div.third {
    font-size: 1.2em;
}

.leaderboard > div.third .member-rank  {
    color: rgba(245, 209, 65, 0.5);
}

.member-rank {
    margin-right: 5px;
    min-width: 25px;
    display: inline-block;
}

.member-score {
    margin-left: 20px;
    min-width: 25px;
    display: inline-block;
}

.game-code {
    font-size: 3rem;
    color: rgba(77, 245, 65,.7);
}

.reset-wrap {
    position: fixed;
    z-index: 30;
    bottom: 5px;
    right: 5px;
}

.reset-progress {
    margin: 0;
    min-width: 50px;
    font-size: 0.5rem;
    padding: 0;
    border: none;
    color: rgba(255,255,255,.15);
}

.start-game {
    margin: 20px 0;
}

.game-code, .game-link {
    cursor: copy;
}

.left-col {
    width: calc(100% - 375px);
    overflow-x: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}


.right-col {
    position: fixed;
    width: 375px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(44 142 48 / 80%);
}

.leaderboard {
    overflow-y: hidden;
    transition: all .15s ease-in-out;
    left: 500px;
    padding: 5px;
    width: 100%;
}

.right-col {
    overflow: hidden;
}

.create-game {
    margin: auto;
}

.submit-login {
    margin-top: 20px;
}

.view-input.member-name {
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
}

.level-progress {
    width: 100%;
    background: rgba(255,255,255,.4);
}

.level-progress .progress {
    background: rgba(77, 245, 65,.7);
    width: 10%;
    height: 2px;
    position: relative;
}

.level-progress .progress:after {
    content:"";
    position: absolute;
    right: -6px;
    top: -3px;
    height: 4px;
    width: 4px;
    border: solid 2px rgba(77, 245, 65,.7);
    background: rgba(77, 245, 65,.7);
    -webkit-border-radius: 5px;
}

.level-menu {
    overflow-y: hidden;
    height: 80px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: start;
    align-items: center;
}

.logo {
    height: 50px;
}

.footer {
    font-size: 10px;
    color: rgba(255, 255, 255, .5);
    text-align: right;
}

.d-none {
    display: none;
}

