.view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #43A047;
}

.leaderboard {
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}

.leaderboard > div {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    /*font-weight: lighter;*/
}

.leaderboard .time {
    color: rgba(119, 119, 119,.3);
}

.leaderboard > div.leader {
    font-size: 1.45em;
}

.leaderboard > div.leader .member-rank  {
    color: rgba(77, 245, 65,.5);
}

.leaderboard > div.second {
    font-size: 1.3em;
}

.leaderboard > div.second .member-rank  {
    color: rgba(65, 212, 245, 0.5);
}

.leaderboard > div.third {
    font-size: 1.2em;
}

.leaderboard > div.third .member-rank  {
    color: rgba(245, 209, 65, 0.5);
}

.member-rank {
    margin-right: 5px;
    min-width: 25px;
    display: inline-block;
}

.member-score {
    margin-left: 20px;
    min-width: 25px;
    display: inline-block;
    color: #777;
}

.game-code {
    font-size: 3rem;
    color: rgba(77, 245, 65,.2);
}

.reset-wrap {
    position: fixed;
    z-index: 30;
    bottom: 5px;
    right: 5px;
}

.reset-progress {
    margin: 0;
    min-width: 50px;
    font-size: 0.5rem;
    padding: 0;
    border: none;
    color: rgba(255,255,255,.15);
}

.start-game {
    margin: 20px 0;
}

.game-code, .game-link {
    cursor: copy;
}

.left-col {
    width: calc(100% - 375px);
    overflow-x: visible;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 0 30px 30px;
}


.right-col {
    position: fixed;
    width: 375px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.leaderboard {
    overflow-y: hidden;
    transition: all .15s ease-in-out;
    /*background: rgba(0,0,0,1);*/
    /*background: #1b1813;*/
    left: 500px;
    padding: 0;
    width: 100%;
    color: #777;
}

.right-col {
    overflow: hidden;
}

.d-none {
    display: none;
}

